.pixelmon img {
width: 2256px;
height: 889px;
float: left;
}

.pixelmon h1 {
font-family: sans-serif;
  float: left;
  margin-left: 640px;
}


ul {
  clear: both;
}

.nav li {
  list-style-type: none;
  display: inline;
  padding-left: 5px;
}

body {
  background-color: red,
  }

.product li {
  border: 1px solid black; 
  padding: 5px;
  list-style: none; 
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}

