.pixelmon img {
width: 2256px;
height: 889px;
float: left;
}

.pixelmon h1 {
font-family: sans-serif;
  float: left;
  margin-left: 640px;
}


ul {
  clear: both;
}

.nav li {
  list-style-type: none;
  display: inline;
  padding-left: 5px;
}

body {
  background-color: red,
  }

.product li {
  width: px;
  min-height: px;
  border: px solid black; 
  padding: px;
  list-style: none; 
  
}
