.header img{
  width: 100px;
  height: 100px;
  float: left;
 
}

.header h1 {
 float: left;
 margin-left: 10px;
width: 640px;
}

.ul {
 clear: both;
}

.nav li {
 list-style-type: none;
 display: inline;
 padding-left: 5px;
}

.product {
 width: 100px;
 height: 100px;
 border: 1px solid black;
 padding: 5px;
 list-style: none;
 display: inline-block;
 margin: 5px;
 vertical-align: top;
}

.product img{
  width: 100px;
 height: 100px;
 border: 1px solid black;
 padding: 5px;
 list-style: none;
 display: inline-block;
 margin: 5px;
 vertical-align: top;
}

.body {
 border-color: blue;
  font-family: verdana;
}
