.header img {
  width: 100px;
  height: 100px;
  float: left;
}

.header h1 {
  font-family: sans-serif;
  float: left;
  margin-left: 10px;
  width: 640px;
}

ul {
  clear: both;
}

.nav li{
  list-style-type: none;
  display: inline;
  padding-left: 5px;
}
.product {
    width: 200px;
    min-height: 200px;
    border: 1px solid block;
    padding: 5px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
