.header img{
  width: 800px;
  height: 600px;
  float: left;
}

.header h1 {
  font-family:sans-serif;
  float: left;
  margin-left;
  width: 640px
}

.nav ul {
  float: center;
}

.product li {
  width: 200px;
  min-height: 200px;
  vertical-align: right;
  margin: 5px;
}


