.header img{
  width: 800px;
  height: 600px;
  float: center;
}

.header h1 {
  font-family:sans-serif;
  float: center;
  margin-left;
  width: 640px
}

.nav ul {
  float: center;
}

.product li {
  width: 200px;
  min-height: 200px;
  vertical-align: right;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
  list-style: none;
  display: inline-block;
  }


