.header img {
  width 100px;
  hight 100px;
  float: left;
}

.header h1 {
  font-family: sans-serif;
}
ul {
  clear: both;
}

.nav li {
  list-style-type: none;
  display: inline;
  padding-left: 5px;
}


