.header img {
  width: 100px;
  min-height: 100px;
}
ul {
  clear: both;
}

.nav li {
  list-style-type: none;
  display: inline;
  padding-left: 5px;
}
.product l1 {width: 200px; min-height 200px
list-style: none; display: inline-block;}
