.header img {
  width: 100px;
  min-height: 100px;
}
ul {
  clear: both;
}

.nav li {
  list-style-type: none;
  display: inline;
  padding-left: 5px;
}
.gallerydavid l1 {
list-style: none; display: inline-block; }

.gallerydavid img {
list-style: none; display: inline-block; }

