.header img    {
  width: 100px;
  height: 100px;
  float: left;
}


.header h1{
  font-family: Impact;
  float: left;
  margin-left: 10px;
  width: 640px;
}

ul{
  clear: both;
  text-align: center;
}

.nav li {
  list-style-type: none;
  display: inline;
  padding-left: 5px; 
}

.aboutpage {
font-family: Andika;
  font-weight: lighter;
}
    
    
    
    
    
    
    
    
